@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-weight: 300;
  line-height: 1.4;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input,
textarea,
select {
  margin: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  overflow: auto;
}

button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

mark {
  background: none;
  color: inherit;
}

strong {
  font-weight: bold;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  width: 100%;
  min-height: 100%;
  color: #190041;
  background-color: #ffffff;
}

a,
button,
input {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
}

p,
li {
  margin-bottom: 0;
}

button {
  border: 0;
  background-color: transparent;
}

*:focus {
  outline: none;
}

.content-wrapper {
  width: 100%;
  max-width: 1240px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .content-wrapper {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 1200px) {
  .content-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  background-color: #6c47e4;
  padding: 8px 24px;
  border-radius: 12px;
  border: 1px solid #6c47e4;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  color: #6c47e4;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.btn--sec {
  color: #6c47e4;
  background-color: transparent;
  border-color: transparent;
}
.btn--sec:hover {
  color: #6c47e4;
  border-color: #6c47e4;
}

.title {
  font-size: 26px;
  font-weight: 600;
  color: #190041;
  text-decoration: none;
  margin-bottom: 16px;
}
.title--black {
  color: #16171c;
}
.title--sub {
  font-size: 22px;
  color: #16171c;
}

.text {
  font-size: 16px;
  font-weight: 400;
  color: #190041;
  text-decoration: none;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .title {
    font-size: 32px;
  }
  .title--sub {
    font-size: 28px;
  }
}
@media (min-width: 1024px) {
  .title {
    font-size: 42px;
    margin-bottom: 24px;
  }
  .title--sub {
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  .title {
    font-size: 52px;
    margin-bottom: 32px;
  }
  .title--sub {
    font-size: 46px;
  }
  .text {
    font-size: 18px;
    margin-bottom: 16px;
  }
}
.review-card {
  width: 100%;
  padding: 24px 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}
.review-card__pic {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 16px;
  overflow: hidden;
}
.review-card__pic img {
  width: 100%;
}
.review-card__title {
  font-size: 22px;
  font-weight: 500;
  color: #190041;
  margin-bottom: 8px;
}
.review-card__desg {
  font-size: 20px;
  font-weight: 400;
  color: #999ea7;
  margin-bottom: 8px;
}
.review-card__rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;
}
.review-card__rating-star {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.review-card__cnt {
  width: 100%;
  padding: 8px 0;
}

.ts-accordion {
  width: 100%;
}
.ts-accordion .accordion-item {
  border: none;
  outline: none;
}
.ts-accordion .accordion-button:not(.collapsed) {
  color: #6c47e4;
  background-color: #ffffff;
  box-shadow: none;
}
.ts-accordion .accordion-button {
  padding: 8px 16px;
}
.ts-accordion .accordion-button:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.ts-accordion .accordion-body {
  padding: 0 16px;
}
.ts-accordion__list {
  list-style: none;
}
.ts-accordion__list li a {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #190041;
  padding: 8px 0;
}

@media (min-width: 768px) {
  .ts-accordion .accordion-collapse {
    display: block !important;
  }
  .ts-accordion .accordion-button {
    pointer-events: none;
  }
  .ts-accordion .accordion-button::after {
    content: none;
  }
}
.news-letter {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid #190041;
  border-radius: 20px;
}
.news-letter__input-wrap {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  border-bottom: 1px solid #999ea7;
  margin-bottom: 8px;
}
.news-letter__input {
  padding: 8px 8px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: #190041;
  flex: 1;
}
.news-letter__input::-moz-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #999ea7;
  opacity: 0.8;
}
.news-letter__input::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #999ea7;
  opacity: 0.8;
}
.news-letter__input-logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.news-letter__input-logo svg path {
  fill: #999ea7;
}
.news-letter .btn {
  margin-left: auto;
}

@media (min-width: 768px) {
  .news-letter {
    flex-direction: row;
    padding: 16px;
  }
  .news-letter__input-wrap {
    border: none;
    margin-right: 16px;
  }
}
.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}
.header--sticky {
  background-color: #eeefff;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  background-color: #ffffff;
}
.header-wrap {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
.header__logo {
  width: 100%;
  max-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 8px;
}
.header__logo img {
  width: 100%;
}
.header__toggler {
  width: 35px;
  height: 35px;
  border: none;
  outline: none;
  padding: 0;
}
.header__toggler-logo {
  display: block;
  border-bottom: 2px solid #000;
  width: 100%;
}
.header__toggler-logo:nth-child(2) {
  margin: 8px 0;
}
.header__toggler--active .header__toggler-logo:nth-child(1) {
  transform: rotateZ(42deg) translate(1px, 1px);
}
.header__toggler--active .header__toggler-logo:nth-child(2) {
  display: none;
}
.header__toggler--active .header__toggler-logo:nth-child(3) {
  transform: rotateZ(-45deg);
}
.header__nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  min-height: calc(100vh - 62px);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.header__nav--active {
  width: 100%;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}
.header__nav-links {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}
.header__nav-links li {
  width: 100%;
  position: relative;
  padding: 8px 16px;
}
.header__nav-links li::after {
  transition: all 0.3s ease-in-out;
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: #6c47e4;
}
.header__nav-links li:hover {
  color: #190041;
}
.header__nav-links li:hover::after {
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.header__link {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #190041;
  cursor: pointer;
  text-decoration: none;
}
.header .btn-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

@media (min-width: 1024px) {
  .header__toggler {
    display: none;
  }
  .header__nav {
    position: static;
    min-height: unset;
    width: auto;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__nav-links {
    flex-direction: row;
  }
  .header__nav-links li {
    margin-right: 8px;
  }
  .header .btn-wrap {
    margin-top: 0;
  }
  .header .btn-wrap .btn {
    margin: 0 8px;
  }
}
@media (min-width: 1200px) {
  .header__toggler {
    display: none;
  }
  .header__nav {
    position: static;
    min-height: unset;
    width: auto;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__nav-links {
    flex-direction: row;
  }
  .header__nav-links li {
    margin-right: 16px;
  }
  .header .btn-wrap {
    margin-top: 0;
  }
  .header .btn-wrap .btn {
    margin: 0 16px;
  }
}
.hero {
  width: 100%;
  position: relative;
  margin-bottom: 16px;
}
.hero-wrap {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: normal;
  justify-content: space-between;
}
.hero__right {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  background-color: #eeefff;
  border-bottom-left-radius: 100px;
}
.hero__right .image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__right .image img {
  width: 100%;
}
.hero__left {
  width: 100%;
}
.hero__left .title span {
  background-color: #c9b9ff;
}
.hero .btn-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 16px 0;
}
.hero .btn-wrap .btn {
  width: 100%;
  max-width: 250px;
}
.hero__partners {
  width: 100%;
}
.hero__partners-tiles {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
}
.hero__partner {
  width: calc(50% - 32px);
  margin: 8px 16px;
}
.hero__partner img {
  width: 100%;
}

@media (min-width: 768px) {
  .hero {
    margin-bottom: 24px;
  }
  .hero__partner {
    width: calc(33.33% - 32px);
  }
}
@media (min-width: 1024px) {
  .hero {
    margin-bottom: 32px;
  }
  .hero-wrap {
    flex-direction: row;
  }
  .hero__right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
  }
  .hero__right .image {
    width: 90%;
  }
  .hero__left {
    width: 55%;
    padding-right: 16px;
  }
  .hero__partners-tiles {
    margin: 8px 0;
  }
  .hero__partner {
    width: calc(33.33% - 32px);
  }
}
@media (min-width: 1200px) {
  .hero {
    min-height: 700px;
    max-height: 800px;
    margin-bottom: 40px;
  }
  .hero-wrap {
    flex-direction: row;
    min-height: 750px;
    align-items: center;
  }
  .hero__right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    justify-content: flex-start;
  }
  .hero__right .image {
    width: auto;
    margin-left: -50px;
  }
  .hero__left {
    width: 55%;
    padding-right: 24px;
  }
  .hero__partners-tiles {
    margin: 8px 0;
  }
  .hero__partner {
    width: calc(33.33% - 32px);
  }
}
.achievements {
  width: 100%;
  margin-bottom: 24px;
}
.achievements-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.achievements__tile {
  width: calc(50% - 16px);
  border: 1px solid #190041;
  border-radius: 10px;
  padding: 8px 16px;
  margin: 8px;
}
.achievements__tile-value {
  font-size: 24px;
  font-weight: 500;
  color: #190041;
  margin-bottom: 8px;
}
.achievements__tile-text {
  font-size: 16px;
  font-weight: 400;
  color: #999ea7;
}

@media (min-width: 768px) {
  .achievements {
    margin: 32px 0;
  }
  .achievements__tile {
    width: 25%;
    margin: 0;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
  }
  .achievements__tile:last-child {
    border-right: 0;
  }
}
@media (min-width: 1024px) {
  .achievements {
    margin: 40px 0;
  }
  .achievements__tile-value {
    font-size: 28px;
  }
  .achievements__tile-text {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .achievements {
    margin-bottom: 60px;
  }
  .achievements__tile-value {
    font-size: 32px;
  }
  .achievements__tile-text {
    font-size: 18px;
  }
}
.oneplace {
  width: 100%;
}
.oneplace-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
.oneplace__right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 8px;
  background-color: #eeefff;
  border-bottom-left-radius: 40px;
  margin-bottom: 24px;
}
.oneplace__right-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.oneplace__right-image img {
  width: 100%;
}
.oneplace__left {
  width: 100%;
}
.oneplace__tile-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.oneplace__tile {
  width: 100%;
  padding: 24px 8px;
}
.oneplace__tile-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 16px;
}
.oneplace__tile-logo svg path {
  stroke: #ffffff;
}
.oneplace__tile-title {
  font-size: 22px;
  font-weight: 500;
  color: #190041;
  margin-bottom: 8px;
}
.oneplace__tile-title {
  font-size: 16px;
  font-weight: 400;
  color: #190041;
}

@media (min-width: 768px) {
  .oneplace__tile {
    width: calc(50% - 16px);
    margin: 8px;
  }
  .oneplace__tile-title {
    font-size: 22px;
  }
  .oneplace__tile-text {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .oneplace {
    position: relative;
  }
  .oneplace-wrap {
    flex-direction: row;
    justify-content: flex-start;
  }
  .oneplace__left {
    width: 55%;
    padding-right: 16px;
  }
  .oneplace__right {
    width: 45%;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 100px;
  }
  .oneplace__right-image {
    width: auto;
    margin-left: -50px;
  }
  .oneplace__tile-title {
    font-size: 24px;
  }
  .oneplace__tile-text {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .oneplace {
    margin-bottom: 40px;
  }
}
.reports {
  width: 100%;
  background-color: #eeefff;
  padding: 24px 0;
}
.reports .content-wrapper {
  padding-left: 0;
  padding-right: 0;
}
.reports-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.reports__left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.reports__left-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reports__left-image img {
  width: 100%;
}
.reports__right {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
.reports__list {
  list-style: none;
  padding-left: 24px;
}
.reports__list li {
  position: relative;
  padding-left: 8px;
  margin-bottom: 8px;
}
.reports__list li::after {
  content: "✓";
  width: 25px;
  height: 25px;
  position: absolute;
  left: -24px;
  top: 50%;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  padding: 0;
  background-color: #190041;
  border-radius: 50%;
  transform: translateY(-50%);
}

@media (min-width: 1024px) {
  .reports-wrap {
    flex-direction: row;
  }
  .reports__left {
    width: 50%;
  }
  .reports__right {
    width: 50%;
    padding: 16px 8px;
  }
}
@media (min-width: 1200px) {
  .reports {
    position: relative;
    margin-bottom: 200px;
  }
  .reports__left {
    justify-content: flex-start;
  }
  .reports__left-image {
    width: 100%;
    margin-bottom: -300px;
  }
  .reports__right {
    width: 60%;
    margin-left: auto;
  }
  .reports__list li {
    margin-bottom: 16px;
  }
}
.solutions {
  width: 100%;
  padding: 16px 0;
}
.solutions-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
}
.solutions--rev {
  background-color: #eeefff;
}
.solutions--rev .solutions-wrap {
  flex-direction: column;
}
.solutions__left {
  width: 100%;
  padding: 16px 0;
}
.solutions__right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.solutions__right-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.solutions__right-image img {
  width: 100%;
}
.solutions .btn-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 16px 0;
}

@media (min-width: 768px) {
  .solutions {
    padding: 24px;
    margin: 40px 0;
  }
  .solutions-wrap {
    flex-direction: row;
  }
  .solutions--rev .solutions-wrap {
    flex-direction: row-reverse;
  }
}
@media (min-width: 1200px) {
  .solutions {
    margin-bottom: 40px;
  }
}
.reviews {
  width: 100%;
}
.reviews-wrap {
  width: 100%;
  padding: 24px 0;
}
.reviews-wrap .review-card {
  margin: 8px 16px;
}
.reviews .title,
.reviews .text {
  text-align: center;
  margin-bottom: 16px;
}
.reviews .slick-arrow.slick-prev, .reviews .slick-arrow.slick-next {
  display: none !important;
}
.reviews .slick-dots li {
  background-color: #ffffff;
  border: 1px solid #6c47e4;
  border-radius: 50%;
}
.reviews .slick-dots li.slick-active {
  background-color: #6c47e4;
}

@media (min-width: 1200px) {
  .reviews {
    margin-bottom: 40px;
  }
}
.news-letter-wrap {
  padding: 16px 0;
}
.news-letter-wrap .content-wrapper {
  display: flex;
  align-items: normal;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 768px) {
  .news-letter-wrap .content-wrapper {
    flex-direction: row;
    align-items: center;
  }
  .news-letter-wrap .content-wrapper .news-letter {
    padding: 8px 16px;
  }
  .news-letter-wrap .content-wrapper .title {
    max-width: 40%;
  }
}
@media (min-width: 1200px) {
  .news-letter-wrap {
    margin-bottom: 40px;
  }
}
.footer {
  width: 100%;
}
.footer__cnt {
  width: 100%;
  margin-bottom: 16px;
}
.footer__logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
}
.footer__logo img {
  width: 100%;
  max-width: 100px;
}
.footer__social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 16px 0;
}
.footer__social li {
  list-style: none;
  margin-right: 8px;
}
.footer__social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #190041;
}
.footer__copywright {
  margin: 16px 0;
}
.footer .ts-accordion .accordion-button {
  padding: 8px 0;
}
.footer__links {
  width: 100%;
}
.footer__links ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer__links ul li {
  width: 100%;
}

@media (min-width: 768px) {
  .footer__links > ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer__links > ul li {
    width: 50%;
  }
  .footer .ts-accordion .accordion-body {
    padding: 8px 0;
  }
}
@media (min-width: 1024px) {
  .footer__links > ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer__links > ul li {
    width: 25%;
  }
  .footer__cnt-wrap {
    display: flex;
    align-items: normal;
    justify-content: flex-start;
  }
  .footer__cnt {
    width: 30%;
  }
  .footer__links {
    width: 70%;
  }
  .footer .ts-accordion__list li {
    width: 100%;
  }
  .footer .ts-accordion__list li a {
    width: auto;
  }
}